<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head.ejs") %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript"src='/js/guideFormat.js'></script>>
    <title>Edit Study Guide</title>
    
</head>
<body>
    <%- include("../partials/nav.ejs") %>
    <%- include("../partials/header.ejs") %>
    <div class="quiz-container">
        <h1>Edit Your Study Guide Questions</h1>
        <div class="title-title">Study Guide Name:</div>
        <div class="title-input">
            <input type="text" name="guide_name" readonly="readonly" value="<%=guide.guide_name%>">
        </div>
        <div>

                <div class="question-list-title">Questions:</div>
                <% for (i=0; i < guide.guide_data.length; i++){ %>
                    <form action="/studyguide/<%=guide.id%>/edit/list/<%=i%>" method="GET">
                        <button type="submit" class="question-list"><%=guide.guide_data[i].question%></button>
                    </form>
                <% } %>

        </div>
    </div>

</div>
</body>
</html>


