<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript"src='/js/quiz.js'></script>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/quiz.css">
    
    <title>Study Guide</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <%- include("./partials/header.ejs") %>
        <% if(currentUser) { %>
        <div class="quiz-container">
           <div class="quiz-title"><h2><%=guide.guide_name%></h2></div>
            <div class="quiz-description"><h4><%=guide.description%></h4></div>
            <div class="question-length"><%=guide.guide_data.length%> Questions in this Study Guide:</div>
            <div class="quiz-button-options">
                <input type="button" id="take-quiz" value="Take this quiz">
                <form action='/studyguide/<%=guide.id%>/edit/list' method="GET">
                    <input type="submit" id="edit-quiz" value="Edit this quiz">
                </form>
                <form action='/studyguide/<%=guide.id%>?_method=DELETE' method="POST">
                    <input type="submit" id="delete-quiz" value="Delete this quiz">
                </form>
            </div>
            <% for (j=0;j < guide.guide_data.length; j++) { %>
                <div class="quiz-question" id="<%=j%>" >
                    <div class="question">
                        <%=guide.guide_data[j].question%>
                    </div>
                        <% for (k=0;k < guide.guide_data[j].answers.length; k++) { %>
                            <div class="answer" id="set<%=j%>-answer-<%=k%>"><%=guide.guide_data[j].answers[k]%></div>
                        <% } %>
                        <div class="correct-answer"><%=guide.guide_data[j].correct_answer%></div>
                    
                    <input type="button" class="next-button" value="Next Question">
                </div>
                
            <% } %>
            <div class="answer-section"></div>
        <div>
        <% } else { %>
            <div>You need to be logged in to view this page</div>
        <% } %>

</body>
</html>